* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Corpo do site */
body {
  background-color: rgb(44, 24, 58);
  background: linear-gradient(135deg, #5b136d, #574c07);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Barra de nav */
nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Logo nav */
nav img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
}

/* Grupo de links */
.links {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Links únicos */
.links a {
  display: inline-block;
  padding: 10px 15px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
  font-family: 'Fredoka', sans-serif;
  font-size: larger;
  margin: 15px;
}

/* Animação de links */
.links a:hover {
  border-radius: 100px;
  transform: scale(1.1);
}

/* Contenção dos itens do formulario */
.form-label{
  color: white;
  font-family: 'Fredoka';
  padding: 2px;
  margin: 2px;
  font-size: larger;
}

/* responsivo nav */

