* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Corpo do site */
body {
  background-color: rgb(44, 24, 58);
  background: linear-gradient(135deg, #5b136d, #574c07);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Barra de nav */
nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Logo nav */
nav img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
}

/* Grupo de links */
.links {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Links únicos */
.links a {
  display: inline-block;
  padding: 10px 15px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
  font-family: 'Fredoka', sans-serif;
  font-size: larger;
  margin: 15px;
}

/* Animação de links */
.links a:hover {
  border-radius: 100px;
  transform: scale(1.1);
}

/* Contenção do carrossel de Açai*/
.container-carrosel{
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 30px;
  background-color: transparent;
}
.container-carrosel h1{
  text-align: center;
  color: white;
  font-family: 'Fredoka', sans-serif;
}
/* Rolagem do carrossel */
.roll-carrossel {
  display: flex;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
  background-color: transparent;
}
.roll-carrossel img{
  width: 20vw;
  max-width: 500px;
  height: 500px;
  object-fit: cover;
  margin-right: 20px;
  flex-shrink: 0;
  border-radius: 40px;
}
.roll-carrossel img:hover{
  transition: 0.5s ease;
  transform: scale(1.05);
  border-radius: 70px;
}
/* Fontes estilizadas de cada legenda */
.roll-carrossel figcaption{
  font-family: 'Fredoka',sans-serif;
  color: white;
  text-align: center;
  font-size: xx-large;
}
/* Div de contenção dos lanches */
.container-lanche{
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 30px;
  background-color: transparent;
}
.container-lanche h1{
  text-align: center;
  color: white;
  font-family: 'Fredoka',sans-serif;
}
.roll-lanche {
  display: flex;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
  background-color: transparent;
}
.roll-lanche img{
  width: 20vw;
  max-width: 500px;
  height: 500px;
  object-fit: cover;
  margin-right: 20px;
  flex-shrink: 0;
  border-radius: 40px;
}
.roll-lanche img:hover{
  transition: 0.5s ease;
  transform: scale(1.05);
  border-radius: 70px;
}
/* Animação */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
